@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Pixelify+Sans:wght@400..700&family=Rowdies:wght@300;400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-style: normal; 
}


header {
margin: 10px;
display: flex;
}

header h1 {
  font-family:"pixelify sans", sans-serif;
}
header h3 {
font-family: "Exo 2", sans-serif;
margin-top: -20px;
color: #000;
}

.container {
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
/* min-height: 100vh; */
background: #000000;
border: #ffffff solid 1px;
}

.welcome-section{
  font-family: "Exo 2", sans-serif;
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 5vh;
  color: #ffffff;
}

#logo {
width: 10vh;
}


span {
height: 260px;
background: #000000;
max-width: 410px;
border-bottom: #262626 solid 1px ;
margin-top: 10vh;
padding: 16px 25px;
transition: height 0.2s ease;
}

span.active {
height: 530px;
}

span .form {
margin: 20px 0 25px;
}

.form :where(input, button) {
width: 100%;
height: 55px;
border: none;
outline: none;
/* border-radius: 5px; */
}

.form input {
font-size: 18px;
padding: 0 17px;
border:1px solid #ffffff;
border-radius: 5px;
}

.btn-qr {
color: #fff;
cursor: pointer;
margin-top: 20px;
font-size: 17px;
background: #000000;
border: #ffffff solid 2px;
border-radius: 5px;
}
.btn-qr:hover {
color: #000000;
background: #ffffff;
border: #000000 solid 1px;
}

span .qr-code {
display: flex;
opacity: 0;
pointer-events: none;
padding: 33px 0;
border-radius: 5px;
align-items: center;
  text-align: center;
justify-content: center;
border: 1px solid #000000;
  display: grid;
  color: #ffffff;
  font-family: 'montserrat';
  font-size: small

}

.qr-code img {
width: 180px;
border: #ffffff solid 2px;
border-radius: 5px;
}

span.active .qr-code {
opacity: 1;
pointer-events: auto;
transition: opacity 0.5s 0.05s ease;
}

.container-section{
  font-family: "Exo 2", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-top: 5vh;
  margin-bottom: 10vh;
  color: #ffffff;
}

.footer-body {
background-color: #000;
}
.footer-container {
padding: 3%;
display: flex;
justify-content: center;
align-items: center;
}

i {
width: 60vh;
font-size: x-large;
}

.footer-btn {
background-color: #fff;
border: 0;
border-radius: 50px;
width: 50px;
height: 50px;
margin: 5px;
}.footer-btn:hover{
background-color: #000000;
border: #ffffff solid 1px;
color: #ffffff;
border-radius: 50px;
width: 50px;
height: 50px;
margin: 5px;
}

.footer-text {
background-color: #ffffff;
padding: 1%;
text-align: center;
border: #fff solid 1px;
color: #000;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media screen and (max-width: 768px) {
  .container-section{
    display: grid;
  }
}